{% extends '::layout.html.twig' %}

{% block title %}Listar tipos de vehículo{% endblock %}

{% block content %}
    <h1 class="well">Listado de tipos de vehículo</h1>

    {% if tipos_vehiculos %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Motor</th>
                    <th>Puertas</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for tipo in tipos_vehiculos %}
                <tr>
                    <td>{{ tipo.id }}</td>
                    <td>{{ tipo.marca }}</td>
                    <td>{{ tipo.modelo }}</td>
                    <td>{{ tipo.tipoMotor }} {{ tipo.caballos }}CV</td>
                    <td>{{ tipo.puertas }}</td>
                    <td>
                        <a href="{{ path('tipo_vehiculo_modificar', {'tipovehiculo': tipo.id}) }}" class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-pencil"></i> Cambiar
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No hay vehículos para mostrar</h2>
    {% endif %}

    <a href="{{ path('portada') }}" class="btn btn-info">Volver a la portada</a>&nbsp;
    <a href="{{ path('tipo_vehiculo_nuevo') }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Crear un nuevo tipo de vehículo</a>
{% endblock %}